<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
{% if user.is_authenticated %}
<h3>Hey, {{user}}! You're at the best car showroom ever. Congrats!</h3>
<a href="{% url "logout" %}">Logout</a>
{% else %}
<h3>Hello, world! You're at the best car showroom ever. Congrats!</h3>
<a href="{% url "login" %}">Login</a><br>
<a href="{% url "register" %}">Register</a>
{% endif %}
<p>Search here: {% include "web_car/search.html" %}</p>
<h4>Description</h4>
<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed feugiat risus quis ex mattis, in sagittis augue ullamcorper.
    Nam tincidunt feugiat tempor. Mauris imperdiet orci quam, vitae mattis arcu
    aliquam in.
    Duis quis varius orci, in ornare lorem. Morbi laoreet lacus sit amet nisi
    tristique
    imperdiet. Pellentesque pharetra sem nunc, vel luctus erat feugiat eu.
    Nullam congue purus ut orci rhoncus, at faucibus tortor pellentesque.
</h5>
<center><img src="https://dailym.ai/2Led0St"/></center>
<p><i><a href="/top-priced/">[TOP 5 MOST PRICED]</a></i>
<p>You can view all available sections <i><a href="/sections/">here</a></i>
    or create your own section <i><a href="/add_section/">here</a></i>
</p>
{% if amount_vehiclepart %}
<p>Amount of the vehicle parts available now: <b>{{ amount_vehiclepart }}</b>
</p>
{% else %}
<p>No vehicle parts are available.</p>
{% endif %}
Add your own vehicle part <i><a href="/add_vehiclepart/">here</a></i>
</body>
</html>