<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
{% include "web_car/messages.html" %}
{% if user.is_authenticated %}
<h3>Hey, {{user}}! You're at the best car showroom ever. Congrats!</h3>
<a href="{% url "logout" %}">Logout</a>
{% else %}
<h3>Hello, world! You're at the best car showroom ever. Congrats!</h3>
<a href="{% url "login" %}">Login</a><br>
<a href="{% url "register" %}">Register</a>
{% endif %}
<p>Search vehicle parts below: {% include "web_car/search-vehicleparts.html" %}</p>
<p>Search sections below: {% include "web_car/search-sections.html" %}</p>
<h4>Description</h4>
<h5>Here are:
    <ul>
        <li>Login & Registration</li>
        <li>List of sections</li>
        <li>Adding sections & vehicle parts (user add only)</li>
        <li>Editing sections & vehicle parts (user add only and depends on which user added item)</li>
        <li>Vehicle parts & sections search</li>
        <li>Vehicle parts & sections counter</li>
    </ul>
</h5>
<center><img src="https://dailym.ai/2Led0St"/></center>
<p><i><a href="/top-priced/">[TOP 5 MOST PRICED]</a></i>
{% if user.is_authenticated %}
    <p>You can view all available sections <i><a href="/sections/">here</a></i>
    or create your own section <i><a href="/add_section/">here</a></i>
</p>
{% else %}
<p>You can view all available sections <i><a href="/sections/">here</a></i>
    or create your own section <i><a href="{% url "login" %}">here</a></i>,
    <b> but login first.</b>
</p>
{% endif %}
{% if amount_vehiclepart %}
<p>Amount of the vehicle parts available now:
    <i><b>{{ amount_vehiclepart }}</b></i>
</p>
{% else %}
<p>No vehicle part is available now.</p>
{% endif %}
{% if amount_sections %}
<p>Amount of the sections available now:
    <i><b>{{ amount_sections }}</b></i>
</p>
{% else %}
<p>No section is available now.</p>
{% endif %}
{% if user.is_authenticated %}
    <p>Add your own vehicle part <i><a href="/add_vehiclepart/">here</a></i></p>
{% else %}
<p>Create your own vehicle part <i><a href="{% url "login" %}">here</a></i>,
    <b> but login first.</b>
</p>
{% endif %}
<a href="{% url "logout" %}">Logout</a>
</body>
</html>