<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Section Search Results</title>
</head>
<body>
{% if sections %}
<h4>RESULTS:</h4>
<ul>
    {% for section in sections %}
    <li>
        <b>{{ section }}</b>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No section founded by this search.</p>
{% if user.is_authenticated %}
    <p>Try another search <a href="/">here</a> or <i>
        <a href="/add_section/">add section here</a></i>!</p>
{% else %}
    <p>Try another search <a href="/">here</a> or <i>
        <a href="{% url "login" %}">add section here</a></i>
        <b> but <a href="{% url "login" %}">login</a></i> first.</b></p>
{% endif %}
{% endif %}
</body>
</html>