<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ section_name }}</title>
</head>
<body>
<h2><i>Vehicle parts in section {{ section_name }} available now:</i></h2>
<p>[<i><a href="/add_vehiclepart/">Add your custom vehicle part</a></i>]</p>
{% if vehiclepart_list %}
<ul>
    {% for vehiclepart in vehiclepart_list.object_list %}
    <li>
        <b>{{ vehiclepart }}</b>
        <a href="{% url 'edit-vehiclepart' vehiclepart.id %}">[Edit it]</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No vehicle part is available now. Please come tomorrow!</p>
{% endif %}
<div>
    {% for i in paginator.page_range %}
    <t><a href="/sections/{{ section_name }}/?page={{i}}">{{i}}</a></t>
    {% endfor %}
</div>
</body>
</html>