<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sections</title>
</head>
<body>
{% include "web_car/messages.html" %}
<h2><i>List of sections available:</i></h2>
<p>[<i><a href="/add_section/">Add your custom section</a></i>]</p>
<h4>Here you can reach your section faster:</h4>
{% if section_list %}
<ul>
    {% for section in section_list %}
    <li name="{{ section.name }}">
        <a href="#{{ section.name }}">{{ section.name }}</a>
    </li>
    {% endfor %}
</ul>
<ul>
    {% for section in section_list.object_list %}
    <li>
        <a name="{{ section.name }}"></a>
        <p>Name: {{ section.name }}
            <i>[Click <a href="{% url 'section' section.name %}">here</a>
                to see vehicle parts in this section or</i>
            <a href="{% url 'edit-section' section.id %}">here to edit</a>
            this section]
        </p>
        <i>Description:</i>
        <p>{{ section.description }}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No section is available.</p>
{% endif %}
<div>
    {% for i in paginator.page_range %}
    <t><a href="/sections/?page={{i}}">{{i}}</a></t>
    {% endfor %}
</div>
</body>
</html>